---
import background from '../assets/pool-watercolor.png';
var style = "";
---

<section style={`background-image: url('${background.src}');`}  
      class="h-screen flex flex-col bg-cover bg-center">
    <div class="max-w-2xl mx-auto px-6 py-8 bg-black bg-opacity-50 rounded text-white">
      <h1 class="text-4xl font-bold mb-4">Welcome to My Awesome Site</h1>
      <p class="mb-4">This is your call to action. Click below to learn more.</p>
      <a href="#about" class="text-yellow-400 underline">Learn More ↓</a>
    </div>
  </section>
  

  <img src="/.netlify/images?url=https%3A%2F%2Fa.storyblok.com%2Ff%2F277873%2F5041x3361%2F7f54544b8a%2Fpexels-marta-dzedyshko-2067431.jpg%2Fm%2F&amp;w=1920&amp;h=1080" alt="" class="absolute left-0 top-0 -z-50 h-full w-full object-cover max-md:scale-x-[-1]" loading="eager" width="1920" height="1080" decoding="async"> <section class="overflow-hidden px-4 py-8 md:p-12"> <div class="animationHidden mx-auto max-w-5xl show">  <div class="py-6"> <h1 class="mb-3 text-secondary-100"> Welcome to Kawusia </h1> <p class="mb-3 max-w-[30ch] font-lora text-base font-light text-secondary-100 md:text-2xl"> Enter our cozy space, where friends brew exceptional coffee and serve homemade treats </p> <a href="/menu" class="inline-block px-11 py-3 text-center capitalize text-text-500 shadow-main shadow-text-500 transition-all hover:translate-x-[12px] hover:translate-y-[12px] hover:bg-secondary-300 hover:shadow-main-hover max-md:text-md text-secondary-100 bg-secondary-500"> Menu </a> </div>  </div> </section> 