---
import './src/styles/global.css' 

import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

import { sections , links } from '../data/sectionData';

const pageTitle = 'Arden Swim Club';
const { title = '', children } = Astro.props;

---

<BaseLayout {title}>
  <div class="h-screen flex flex-col">
		<Header {links} {pageTitle}/>
		<Hero />
	</div>
	
  <slot />
  <Footer />
</BaseLayout>